.v-loader-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 0 3rem;
}
.v-loader-area .v-loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#5b5d68 0 0);
  background:
    var(--c) 0 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  transform: scale(0.9);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    background-size:
      20% 100%,
      20% 100%,
      20% 100%;
  }
  33% {
    background-size:
      20% 10%,
      20% 100%,
      20% 100%;
  }
  50% {
    background-size:
      20% 100%,
      20% 10%,
      20% 100%;
  }
  66% {
    background-size:
      20% 100%,
      20% 100%,
      20% 10%;
  }
  100% {
    background-size:
      20% 100%,
      20% 100%,
      20% 100%;
  }
}
